<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-calltrap"
        version="0.0.4">
    <name>CallTrap</name>
    <description>A incoming phone call trap</description>
    <license>MIT</license>
    <keywords>phonegap,calendar, phone, call, phone-call</keywords>

    <js-module name="CallTrap" src="www/CallTrap.js">
        <clobbers target="CallTrap" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CallTrap">
                <param name="android-package" value="name.ratson.cordova.calltrap.CallTrap" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

      <source-file src="src/android/CallTrap.java" target-dir="src/name/ratson/cordova/calltrap" />
    </platform>
</plugin>
